<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>

  <script type="text/javascript">
    $(document).ready(function (){
      let socket = io.connect();
      $('form').submit( (event) => {
        event.preventDefault();
        let post_data = $('form').serializeArray();
        socket.emit('posting_form', post_data);
      });
      socket.on('updated_message', (data) => {
        $('#form-info').append(`<h3>You emitted the following
                              information to the server: </h3>`)
        for (var key in data) {
          $('#form-info').append(`<p>${key}: ${data[key]}</p>`);
        }
      socket.on('random_number', (number) => {
        $('#form-info').append(`<p>Your lucky number emitted by the
                                server is ${number}</p>`);
      })

      })
    });
  </script>
  <body>
    <div id='form-info'></div>
    <h2>Your Information</h2>
    <form>
      <label>Your Name:</label>
      <input type="text" name="name" placeholder='Name'><br /><br />

      <label>Dojo Location:</label>
      <select name="dojo_location">
        <option value="Dallas, TX">Downtown Dallas</option>
        <option value="Seattle, WA">Mountain View</option>
        <option value="Oklahoma City, OK">Oklahoma</option>
      </select><br /><br />

      <label>Favorite Language</label>
      <select name="favorite_language">
        <option value="Ruby">Ruby</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Golang">Golang</option>
      </select><br /><br />

      <label>Comments(optional)</label><br /><br />
      <textarea name="comment" rows="8" cols="80" placeholder='What are your deepest thoughts?'></textarea><br /><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
