<!DOCTYPE html>
<html>
<head>
	<title>counter</title>
</head>
<body>
	<h1>Counter: <%=count%> times.</h1>
	<form action="/add" method="POST">
		<button type="submit">+2</button>
	</form>
	<form action="reset" method="POST">
		<button type="submit">reset</button>
	</form>
</body>
</html>