<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/loginReg.css">
		<title> Login and Reg | Home </title>
	</head>
	<body>
		<div id='container'>
			<header> 
				<h2> Welcome <%= this_user.first %> </h2>
				<a href="/logout"> Logout </a>
			</header>
		</div>	
	</body>
</html>