<h4 class='text-primary'>We have quotes by:</h4>

<table class='table table-striped table-bordered table-hover'>
  <tr>
    <th>Author</th>
    <th>Actions Available</th>
  </tr>
  <tr *ngFor='let author of authors'>
    <td>{{author.name}}</td>
    <td>
      <button class='btn btn-success' [routerLink]="['/quote', author._id]">Show Quotes</button>
      <button class='btn btn-info' [routerLink]="['/edit', author._id]">Edit</button>
      <button class='btn btn-danger' (click)='deleteAuthor(author._id)'>Delete</button>
    </td>
  </tr>
</table>

<p class='text-danger'>{{error}}</p>
