<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Result</title>
</head>
<body>
	<div>
		<h1>Submitted Info</h1>
		<p>Name: <%= info.name %></p>
		<p>Location: <%= info.location %></p>
		<p>Language: <%= info.language %></p>
		<p>Comments: <%= info.comment %></p>
		<form action="/goback">
			<button type="submit">go back</button>
		</form>
	</div>
</body>
</html>