<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <form action='process/' method='POST'>
      <p><label for=''></label>DO YOU LIKE YOR CAR?<input type='text' name=''></p>
      <p><label for=''></label>IT FAST?<input type='text' name=''></p>
      <p><label for=''></label>HOWWW LONG YOU DRIVE?<input type='text' name=''></p>
      <p><label for=''></label>YOU MAKE A SOUND WITH CAR?<input type='text' name=''></p>
      <p><label for=''></label>WILL YOU WEAR SEATBELT?<input type='text' name=''></p>
      <p><input class='submit' type='submit' value='~ ~ ~'></p>
    </form>
  </body>
</html>
