<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>name: <%= result.name %></p>
	<p>location: <%= result.location %></p>
	<p>favorit language: <%= result.language %></p>
	<p>comment: <%= result.comment %></p>
	
	

</body>
</html>