<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
	    <form action='process/' method='POST'>
        <p><label for=''></label><input type='text' name=''></p>
        <p><label for=''></label><input type='text' name=''></p>
        <p><label for=''></label><input type='text' name=''></p>
        <p><label for=''></label><input type='text' name=''></p>
        <p><label for=''></label><input type='text' name=''></p>
        <p><input class='submit' type='submit' value='~ ~ ~'></p>
      </form>
</html>
