<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/quotes.css">
		<title> QuotingDojo </title>
	</head>
	<body>
		<header>
			<h2> Welcome to QuotingDojo </h2>	
		</header>

		<main> 
			<form action="/quotes" method="POST">
				<label for="name"> Your Name: </label>
				<input type="text" name="name">
				<label for="quote"> Your Quote: </label>
				<textarea name="quote" id="" cols="20" rows="2"></textarea>
				<input type="submit" value="Add my quote!">
			</form>
			
		</main>
	</body>
</html>