<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>fuck everything</h1>
    <form action='/result' method='post'>
      Your Name: <input type='text' name='name'>
			Dojo Location: <select name='location'>
				<option value="silicon valley">Silicon Valley</option>
				<option value="la">Los Angeles</option>
				<option value="dallas">Dallas</option>
				<option value="tulsa">Tulsa</option>
				<option value="chicago">Chicago</option>
				<option value="dc">Washington DC</option>
			</select>
			Favorite Language: <select name='language'>
				<option value="python">Python</option>
				<option value="ruby">Ruby on Rails</option>
				<option value="mean">MEAN</option>
			</select>
			Comment (optional): <textarea name='comment'></textarea>
			<input type='submit' value='Submit'>
    </form>
  </body>
</html>
