<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1><u>submitted information</u></h1>
    <h2>name ~ <%= results.name %></h2>
    <h2>location ~ <%= results.location %></h2>
    <h2>language ~ <%= results.language %></h2>
    <h2>comment ~ <%= results.comment %></h2>
  </body>
</html>
