*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

body{
	width: 970px;
	margin: auto;
}

header{
	width: 100%;
	padding: 10px;
}

img{
	height: 100px;
	width: 100px;
	margin: -10px 10px 0px 15px;
}

h1{
	display: inline;
	vertical-align: top;
}

main{
	padding: 15px;
}