<!DOCTYPE html>
<html>
<head>
	<title>Epic counter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script src="button.js"></script>
</head>
<body>
	<h1 id="counter"></h1>
	<form>
		<p>Push the button to update the count!</p>
		<input type="submit" name="submit" value="+1">
	</form>
	<hr>
	<button id="button">Reset count</button>
</body>
</html>