<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>WTF mate</h1>
	<% if(typeof(errors) != 'undefined') { %>
		<% for (var x in errors) { %>
		<h3><%= errors[x].message %></h3>
		<% } %>
		<% } %>
	

	
    
</body>
</html>