h1{
	margin-top: 10px;
}

p{
	font-size: 18px;
	margin: 15px 0px 15px 0px;
}

table{
	font-size: 18px;
}

thead{
	background-color: lightgrey;
}

button{
	background-color: lightgrey;
	font-size: 12px;
	border-radius: 2px;
	padding: 3px;
}