<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Survey Form</title>
	</head>
	<body>
		<h1>Submitted Information</h1>
		<p>Name: <%= body.name %></p>
		<p>Dojo Location: <%= body.location %></p>
		<p>Favorite Language: <%= body.fav %></p>
		<p>Comment: <%= body.comment %></p>
	</body>
</html>