<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Epic Button Game</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="button.js"></script>
	</head>
	<body>
		<p>You have clicked this button <span id="clicks">0</span> times</p>
		<p>Push the button to update the count!</p>		
		<button id="increase_count" name="counter">Push this button...JUST DO IT!!!!!</button>
		<button id="reset_count" name="reset">Reset Count</button>
	</body>
</html>