*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

body{
	width: 970px;
	margin: auto;
}

header{
	width: 100%;
	padding: 10px;
}

header button{
	width: 150px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	background-color: lightgrey;
	vertical-align: top;
	margin: 0px 15px 0px 15px;
	border-radius: 5px;
}

header h1{
	margin: 15px 0px 15px 0px;
}

main{
	padding: 15px;
}